<h1>Pobrify</h1>
<h2>Escute até 30s de graça</h2>

<form action="/artist-search">
    <input type="text" name="artistName" placeholder="Artist">
    <button type="submit">Search for an Artist</button>
</form>