.cards {
	padding-top: 2em;
	display: flex;
	margin: 2em;
	flex-wrap: wrap;
}

.card {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	margin-right: 10em;
	margin-bottom: 2em;
	text-align: center;
	align-items: center;
	align-content: center;
	background-color: gray;
}

.card-info {
	max-width: 100%;
	color: white;
	margin-bottom: 20px;
}

.card-info a {
	background-color: red;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
}

.card img {
	max-width: 100%;
}
